.header {
  height: 50px;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  font-size: large;
}

.link {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

.username {
  color: white;
  align-self: right;
  margin-right: 80px;
}
