.content {
    min-height: 70vh;
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
  }

.row{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}