.App {
  text-align: center;
}

.header {
  height: 80px;
  background-color: darkgray;
}

.navBar {
  text-align: left;
  margin: 0;
  padding-top: 30px;
}

.navElement {
  display: inline;
  padding: 15px;
}

.link {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.image {
  max-width: 600px;
}

.todo {
  padding: 15px;
  margin: 15px 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.todoDone {
  color: green;
  text-decoration: line-through;
}

.todoNotDone {
  color: red;
}

.form {
  margin: 20px;
}